<div>
  <h1>Home</h1>
  <table class="table">
    <thead>
      <tr>
	<th>Name</th>
	<th>Year</th>
	<th>Genres</th>
      </tr>
    </thead>
    {{#movies}}
    <tr>
      <td><a href="{{context-root}}/movie/{{_id}}">{{name}}</a></td>
      <td>{{year}}</td>
      <td>
	{{#genres}}
	<span class="genre">{{name}}</span>
	{{/genres}}
      </td>
    </tr>
    {{/movies}}
  </table>
</div>
