<div>
  <h1>{{name}} <span class="year">({{year}})</span></h1>
  <div>
    <span class="info">Genres :</span> {{#genres}}<span class="genre">{{name}}</span>{{/genres}}
  </div>
  <div>
    <span class="info">Director :</span> {{director.name}}
  </div>
  <div>
    <span class="info">Actors :</span> {{#actors}}<span class="actor">{{name}}</span>{{/actors}}
  </div>
</div>
